In [4]:
tupla_numeros = (10,20,30)
print(tupla_numeros)

(10, 20, 30)

In [1]:
trupla_nova = 10, 20, 30
print(trupla_nova)

(10, 20, 30)

In [2]:
trupla_elemento = 10
print(trupla_elemento)

10

In [2]:
nova_tupla=tuple("teste")
print(nova_tupla)

('t', 'e', 's', 't', 'e')

In [3]:
trupla_nomes=("marlene", "zezinho", "marlene", "marlene", "cibele", "ziely")
trupla_nomes.count("marlene")
print(trupla_nomes.count("suely"))
print(trupla_nomes.count("zezinho"))

0
1

In [5]:
trupla_numeros=(1,2,2,3,4,4,4,5)
print(trupla_numeros.count(4))

3

In [2]:
dicio={"chave":"valor"}
print(type(dicio))

<class 'dict'>

In [31]:
d={"laranjas":15, "bananas":35, "siriguelas":12}
d["bananas"]

35

In [4]:
d["pitomba"]=20
print(len(d))

4

In [5]:
"pitomba" in d

True

In [6]:
"pears" in d

False

In [33]:
del d["laranjas"]
"laranjas" in d

False

In [16]:
frutas=["pinha","oiti coro","jaca","tamarino"]
print([1,2]+[3+4])
print(frutas + [6,7,8,9])
print([0]*4)
print([1,2,["oi","tchau"]]*2)

[1, 2, 7]
['pinha', 'oiti coro', 'jaca', 'tamarino', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]